@charset "UTF-8";

/* Add custom styles for the Outdelivery page */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.header p {
  font-size: 16px;
  color: #888;
}

.customer {
  display: flex;
  align-items: left;
  
  margin-bottom: 20px;
}

.Cust_name {
  flex-basis: 30%;
}

form {
  margin-top: 20px;
}

table {
  width: 100%;
}

table th,
table td {
  padding: 8px;
  height: 30px;
}

table thead {
  background-color: #343a40;
  color: white;
  height: 30px;
}

table th {
  border-bottom: 2px solid white;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

button.btn {
  margin-right: 10px;
}

button.delete1 {
  background-color: #dc3545;
  border-color: #dc3545;
}

button.delete1:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
.form-control{
	height: 30px;
}
